<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EF_goldenminer_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,851},{166,160}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,32},{166,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,271},{200,188}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{200,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,271},{200,198}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,198}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,405},{200,192}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,463},{200,186}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{200,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,601},{196,180}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{196,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,785},{196,172}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{196,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,473},{198,178}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{198,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,785},{196,176}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{196,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,653},{196,166}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{196,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,653},{194,140}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{194,140}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,851},{156,132}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,48},{156,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,871},{146,130}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,47},{146,130}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,455},{132,126}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,47},{132,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,325},{128,126}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,45},{128,126}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,191},{130,86}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,47},{130,86}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_goldenminer_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,3},{130,211}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,3},{130,211}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{130,213}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,213}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,3},{130,211}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{130,211}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,352},{130,211}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,220},{130,213}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,213}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,437},{130,213}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,213}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,654},{130,213}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,213}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,3},{130,213}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,213}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,567},{130,211}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,782},{130,211}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,137},{130,209}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,209}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,137},{130,209}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,209}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,271},{130,209}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{130,209}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,137},{130,211}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{130,211}}</string>
                <key>sourceSize</key>
                <string>{150,225}</string>
            </dict>
            <key>EF_goldenminer_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,655},{56,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,86}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>EF_goldenminer_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,137},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>EF_goldenminer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f97d70613c910a419020d141b86896a7:dff73e4ba683d3f4215e46e29c44a457:15ce7cba5641f6e094aecb29bab0530c$</string>
            <key>textureFileName</key>
            <string>EF_goldenminer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
