<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>et_junwangxj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>et_junwangxj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,71},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>et_xjcd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,139},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>et_xjcd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,207},{20,40}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{20,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>et_xjcd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,3},{56,28}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{56,28}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>et_xjqrj_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,71},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>et_xjqrj_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,207},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>et_xjxh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,3},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>et_xjxh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,139},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>march_effect.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71497d9474ad9baae26165d55b49c177:e06501d1e9764453eab61144a9fdd4a4:08511ed9da75f3514f2ccfee04f889f8$</string>
            <key>textureFileName</key>
            <string>march_effect.png</string>
        </dict>
    </dict>
</plist>
