<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ltzd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{128,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,46}}</string>
                <key>sourceSize</key>
                <string>{128,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>newAndRepair.pvr.ccz</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48b2f37b4ac61d270e83f6a1e5057984:1ca438df5abe2aaa9d80fc11efe264c7:39825cffdaebfabd5f79e1ae492776e0$</string>
            <key>textureFileName</key>
            <string>newAndRepair.pvr.ccz</string>
        </dict>
    </dict>
</plist>
