<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3ymsj_gd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,245},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3ymsj_gh.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,505},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3ymsj_hz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,759},{238,242}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{238,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>3ymsj_lg_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,505},{98,200}}</string>
                <key>offset</key>
                <string>{-69,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,66},{98,200}}</string>
                <key>sourceSize</key>
                <string>{308,266}</string>
            </dict>
            <key>3ymsj_lg_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,759},{196,242}}</string>
                <key>offset</key>
                <string>{-34,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{196,242}}</string>
                <key>sourceSize</key>
                <string>{308,266}</string>
            </dict>
            <key>3ymsj_lg_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,3},{274,254}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{274,254}}</string>
                <key>sourceSize</key>
                <string>{308,266}</string>
            </dict>
            <key>3ymsj_lg_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{284,238}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{284,238}}</string>
                <key>sourceSize</key>
                <string>{308,266}</string>
            </dict>
            <key>3ymsj_lg_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,115},{250,166}}</string>
                <key>offset</key>
                <string>{18,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,6},{250,166}}</string>
                <key>sourceSize</key>
                <string>{308,266}</string>
            </dict>
            <key>3ymsj_lg_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,3},{172,108}}</string>
                <key>offset</key>
                <string>{57,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,10},{172,108}}</string>
                <key>sourceSize</key>
                <string>{308,266}</string>
            </dict>
            <key>3ymsj_xm.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,3},{254,256}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>3ymsj_fx.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2fc4bdbcbdcf76beada74b183f8c7f4:b2ec61d45c1beca99d21c02fb914c114:cf5dd9a152ddd817296fb4d69c4afa19$</string>
            <key>textureFileName</key>
            <string>3ymsj_fx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
