<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zzzt_icon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,369},{125,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,116}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,369},{125,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,116}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,390},{125,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,116}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,3},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,3},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,3},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,125},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,125},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,125},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,132},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,247},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,247},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,247},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,261},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,369},{125,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,489},{125,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,116}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,491},{125,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,116}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,489},{125,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,116}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
            <key>zzzt_icon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,519},{125,116}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{125,116}}</string>
                <key>sourceSize</key>
                <string>{145,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>BOE_zzzt_icon_effect.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482f91075798437b3a974ddb0cdd24ec:478e80b5eb5345f5bc2d29c54e7b0a4e:4743b3f78a8c36b0030f32ed8fb40776$</string>
            <key>textureFileName</key>
            <string>BOE_zzzt_icon_effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
