<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cb_hfh_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,3},{157,208}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{157,208}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,3},{155,212}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{155,212}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,3},{157,210}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{157,210}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,164},{157,208}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{157,208}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,321},{157,208}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{157,208}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,325},{157,208}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{157,208}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,376},{157,204}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{157,204}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,482},{157,204}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{157,204}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,573},{157,204}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{157,204}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,215},{157,202}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{157,202}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,681},{157,204}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{157,204}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,486},{157,204}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{157,204}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,363},{157,206}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{157,206}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,363},{155,208}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{155,208}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,522},{155,208}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{155,208}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,162},{155,210}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{155,210}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>cb_hfh_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,3},{19,31}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{19,31}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>cb_hfh_mg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,120},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{25,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,73},{27,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{27,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,26},{29,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{29,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,842},{23,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{23,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,889},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{23,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,167},{25,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{25,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,983},{19,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{19,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,482},{17,43}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{17,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,889},{19,43}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{19,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,842},{19,43}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{19,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,936},{19,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{19,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,889},{21,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{21,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,936},{21,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{21,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,936},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{23,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,983},{23,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{23,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>cb_hfh_mg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,842},{23,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{23,43}}</string>
                <key>sourceSize</key>
                <string>{33,49}</string>
            </dict>
            <key>hfh_wc.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{386,356}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,41},{386,356}}</string>
                <key>sourceSize</key>
                <string>{512,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>ef_CreepyOld_1.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857a567a6a959a6d9f673780100a90e8:c46a50fabdb3eeffb578beb99b8f13f6:0a95e95df3f50eff4c5d41f597321da4$</string>
            <key>textureFileName</key>
            <string>ef_CreepyOld_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
