<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zzzr_xm.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1083},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>zzzt_bxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1912},{131,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,49}}</string>
                <key>sourceSize</key>
                <string>{131,49}</string>
            </dict>
            <key>zzzt_bxgy_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,185},{138,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,185},{138,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,691},{138,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,833},{138,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,975},{138,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,327},{138,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,185},{138,67}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,3},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,469},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,609},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,327},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,467},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1565},{134,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1703},{134,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1774},{134,67}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,143},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,3},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,680},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,820},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxgy_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1425},{136,67}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{142,67}</string>
            </dict>
            <key>zzzt_bxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1869},{144,109}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{144,109}}</string>
                <key>sourceSize</key>
                <string>{144,115}</string>
            </dict>
            <key>zzzt_dg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,367},{284,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,338}}</string>
                <key>sourceSize</key>
                <string>{284,338}</string>
            </dict>
            <key>zzzt_dg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{190,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,376}}</string>
                <key>sourceSize</key>
                <string>{190,376}</string>
            </dict>
            <key>zzzt_dg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1877},{152,362}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,362}}</string>
                <key>sourceSize</key>
                <string>{152,362}</string>
            </dict>
            <key>zzzt_lg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1825},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1343},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,709},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,891},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1073},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1255},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,337},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,519},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,701},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,883},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1065},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,337},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,519},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1109,3},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,701},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,883},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1125,1065},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,327},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,3},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_lg_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,509},{78,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,178}}</string>
                <key>sourceSize</key>
                <string>{78,178}</string>
            </dict>
            <key>zzzt_xz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1503},{212,362}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{212,362}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,757},{212,368}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{212,368}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,3},{216,360}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{216,360}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1471},{222,356}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{222,356}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,3},{222,366}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{222,366}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,757},{222,370}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{222,370}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,383},{226,370}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{226,370}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1505},{228,368}}</string>
                <key>offset</key>
                <string>{-10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{228,368}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,377},{228,366}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{228,366}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,3},{226,370}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{226,370}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1131},{210,370}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{210,370}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1111},{212,356}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{212,356}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,373},{218,360}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,9},{218,360}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1131},{224,368}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{224,368}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1471},{230,350}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{230,350}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,3},{232,330}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,39},{232,330}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,737},{224,342}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{224,342}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1111},{228,356}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,14},{228,356}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,747},{234,360}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{234,360}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
            <key>zzzt_xz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1831},{214,356}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,15},{214,356}}</string>
                <key>sourceSize</key>
                <string>{268,378}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>ef_CreepyOld_1_2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebdb036b73134d315f2aa33fbba13ed5:ea0d0bd82cd8d991c7615aa89d8a949c:60611328be7a4371e5071b3410778af9$</string>
            <key>textureFileName</key>
            <string>ef_CreepyOld_1_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
