<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EF_Spider_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,3},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,3},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,3},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,3},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,3},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,3},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,180},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,348},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,348},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,180},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,180},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1251,180},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1499,180},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,180},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,525},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,773},{244,173}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{244,173}}</string>
                <key>sourceSize</key>
                <string>{250,175}</string>
            </dict>
            <key>EF_Spider_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,1854},{178,158}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{178,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1284},{178,158}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{178,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1079},{178,158}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{178,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,357},{178,160}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,35},{178,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,357},{178,162}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,357},{178,162}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,357},{178,162}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,357},{178,162}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,33},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,707},{178,162}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,523},{178,162}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,33},{178,162}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1689},{178,160}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{178,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1490},{178,160}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{178,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,1672},{178,160}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,35},{178,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,889},{178,158}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{178,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,705},{178,158}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{178,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,521},{178,158}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,37},{178,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1871},{172,170}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,25},{172,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,523},{166,186}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{166,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1335},{166,192}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{166,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,523},{166,196}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{166,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1857},{166,182}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{166,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1531},{182,158}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,36},{182,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1100},{180,166}}</string>
                <key>offset</key>
                <string>{7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{180,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1122},{180,174}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{180,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1321},{180,176}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,24},{180,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,916},{180,174}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{180,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,713},{180,174}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{180,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,523},{180,174}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,26},{180,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1717},{180,172}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{180,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1505},{180,172}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{180,172}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1306},{180,170}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{180,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,897},{178,170}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{178,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1219,887},{172,158}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{172,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1466},{176,160}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,35},{176,160}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1261},{176,158}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,37},{176,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1071},{176,156}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,39},{176,156}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>EF_Spider_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1531},{133,120}}</string>
                <key>offset</key>
                <string>{15,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,0},{133,120}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,703},{165,146}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{165,146}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1882},{163,146}}</string>
                <key>offset</key>
                <string>{31,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{163,146}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,521},{157,146}}</string>
                <key>offset</key>
                <string>{34,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,0},{157,146}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1902},{165,136}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,10},{165,136}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1900},{177,134}}</string>
                <key>offset</key>
                <string>{24,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,12},{177,134}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1668},{185,130}}</string>
                <key>offset</key>
                <string>{20,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{185,130}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,929},{189,130}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{189,130}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1136},{195,130}}</string>
                <key>offset</key>
                <string>{15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,16},{195,130}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,730},{199,130}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{199,130}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_063.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1675},{203,132}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{203,132}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1472},{211,130}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,14},{211,130}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1464},{207,124}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{207,124}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_066.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1687},{209,126}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{209,126}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_067.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1249},{211,122}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{211,122}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_068.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,971},{211,122}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,17},{211,122}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_069.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1249},{219,126}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,15},{219,126}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,525},{219,128}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{219,128}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,748},{219,128}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{219,128}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1687},{211,120}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{211,120}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1391},{201,120}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{201,120}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,525},{201,120}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,6},{201,120}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1186},{201,122}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,5},{201,122}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,525},{199,122}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{199,122}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,728},{197,122}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{197,122}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,933},{199,122}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,1},{199,122}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,929},{193,118}}</string>
                <key>offset</key>
                <string>{6,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{193,118}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_080.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1126},{191,118}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,5},{191,118}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,723},{189,118}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,5},{189,118}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,723},{189,120}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{189,120}}</string>
                <key>sourceSize</key>
                <string>{225,150}</string>
            </dict>
            <key>EF_Spider_083.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1021},{224,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,190}}</string>
                <key>sourceSize</key>
                <string>{224,190}</string>
            </dict>
            <key>EF_Spider_084.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{500,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,341}}</string>
                <key>sourceSize</key>
                <string>{500,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>EF_Spider.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acbfad7db2c0959b967ba14c67bdd107:b0edcb48933f9609743239a78bf6bbcc:4efa278e0cf00bee33cf3ffaa823447a$</string>
            <key>textureFileName</key>
            <string>EF_Spider.pvr.ccz</string>
        </dict>
    </dict>
</plist>
