<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sfly_gd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,779},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>sfly_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{286,512}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{286,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>sfly_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,3},{104,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{104,54}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>sfly_xm.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,519},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>sfly_fx.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ed5b9e89fc7e9ec7bf44204c9f947c3:8479d788d27c2a179c92b8e687e86c2f:1a1127c12cda6bc60cf88f071540f353$</string>
            <key>textureFileName</key>
            <string>sfly_fx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
