<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ef_ww_tuoweihs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,133},{84,38}}</string>
                <key>offset</key>
                <string>{-204,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,96},{84,38}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,243},{98,36}}</string>
                <key>offset</key>
                <string>{-160,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,110},{98,36}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,217},{112,34}}</string>
                <key>offset</key>
                <string>{-115,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,121},{112,34}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,211},{126,28}}</string>
                <key>offset</key>
                <string>{-69,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,131},{126,28}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,179},{138,28}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,132},{138,28}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,145},{150,30}}</string>
                <key>offset</key>
                <string>{25,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,127},{150,30}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,107},{160,34}}</string>
                <key>offset</key>
                <string>{71,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,119},{160,34}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,61},{170,42}}</string>
                <key>offset</key>
                <string>{116,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,107},{170,42}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{176,54}}</string>
                <key>offset</key>
                <string>{161,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,90},{176,54}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,3},{126,48}}</string>
                <key>offset</key>
                <string>{182,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,89},{126,48}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
            <key>ef_ww_tuoweihs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,175},{74,38}}</string>
                <key>offset</key>
                <string>{203,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,89},{74,38}}</string>
                <key>sourceSize</key>
                <string>{500,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>ef_ww_tuoweihs0227.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d37c0ab15a50206a26d9503be066fff:6896153314c8fc2b0efba07d31e1f2c5:21008252de86a37d393e05e2d2f5a744$</string>
            <key>textureFileName</key>
            <string>ef_ww_tuoweihs0227.pvr.ccz</string>
        </dict>
    </dict>
</plist>
