<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kcml_gj_kcbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,425},{293,124}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{293,124}}</string>
                <key>sourceSize</key>
                <string>{321,144}</string>
            </dict>
            <key>Kcml_gj_kcdg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,553},{265,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,250}}</string>
                <key>sourceSize</key>
                <string>{265,250}</string>
            </dict>
            <key>Kcml_gj_kchjgy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,3},{368,206}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{368,206}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,215},{368,202}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{368,202}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,217},{368,204}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{368,204}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,421},{346,202}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{346,202}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,621},{342,196}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{342,196}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,627},{336,200}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{336,200}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,423},{342,200}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{342,200}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,215},{368,198}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{368,198}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,417},{366,200}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,20},{366,200}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1491,213},{368,206}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{368,206}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,3},{368,208}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{368,208}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,3},{368,208}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{368,208}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{368,210}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{368,210}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,3},{368,208}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{368,208}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_kchjgy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,215},{368,206}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{368,206}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>Kcml_gj_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1012},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Kcml_gj_sz02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1835,525},{202,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{202,202}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>Kcml_gj_xbs01.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,627},{89,74}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{89,74}}</string>
                <key>sourceSize</key>
                <string>{97,80}</string>
            </dict>
            <key>Kcml_gj_xbs02.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,705},{82,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,81}}</string>
                <key>sourceSize</key>
                <string>{82,81}</string>
            </dict>
            <key>Kcml_gj_xbs03.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,907},{75,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,68}}</string>
                <key>sourceSize</key>
                <string>{75,68}</string>
            </dict>
            <key>Kcml_gj_xbs04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,831},{71,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{71,68}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>Kcml_gj_xbs05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,903},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>Kcml_pt_cgy.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,425},{267,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{267,235}}</string>
                <key>sourceSize</key>
                <string>{277,235}</string>
            </dict>
            <key>Kcml_pt_jdt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,933},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,933},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,979},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,627},{59,47}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{59,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,690},{55,47}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,979},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,961},{55,47}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{55,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1030},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1030},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,1081},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1081},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1306},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1306},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1306},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jdt_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1284},{53,47}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{53,47}}</string>
                <key>sourceSize</key>
                <string>{79,47}</string>
            </dict>
            <key>Kcml_pt_jkgy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,3},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,177},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,351},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,425},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,607},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,789},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,963},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,984},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,974},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,990},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,1094},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1137},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1132},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1268},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_jkgy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,1148},{170,178}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,178}</string>
            </dict>
            <key>Kcml_pt_pzlg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,821},{250,149}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{250,149}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,964},{250,149}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{250,149}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,821},{250,149}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{250,149}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,627},{250,151}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{250,151}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,782},{250,151}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{250,151}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,937},{248,153}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{248,153}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,664},{250,153}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{250,153}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,749},{252,153}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{252,153}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,807},{250,153}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{250,153}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,974},{248,153}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{248,153}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1117},{248,153}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{248,153}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1131},{248,149}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{248,149}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1274},{248,149}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{248,149}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,831},{248,149}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{248,149}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_pzlg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,906},{248,149}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{248,149}}</string>
                <key>sourceSize</key>
                <string>{254,165}</string>
            </dict>
            <key>Kcml_pt_zjjlgy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,821},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>Kcml_sg.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,790},{113,75}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{113,75}}</string>
                <key>sourceSize</key>
                <string>{133,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>LOB_KCML_vfx.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d7c2775fc0db47eac2defb3d152592e:19a1dfa50d726afbbd81c5e54106cc58:b78bb26418f78c461137f1908f5fa9e7$</string>
            <key>textureFileName</key>
            <string>LOB_KCML_vfx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
