<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hmzl_anlg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,473},{266,109}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{266,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,731},{264,109}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1192},{264,109}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1460},{264,109}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1192},{264,109}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1460},{264,109}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,461},{264,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,729},{264,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,449},{264,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,9},{264,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,743},{266,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{266,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,473},{266,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{266,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,743},{266,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{266,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,473},{266,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{266,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,743},{266,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{266,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_anlg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,461},{266,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{266,109}}</string>
                <key>sourceSize</key>
                <string>{278,127}</string>
            </dict>
            <key>hmzl_jzlg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1219},{248,300}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1523},{248,300}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1219},{248,300}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1523},{248,300}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,3},{248,300}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{250,300}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{250,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,307},{250,300}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{250,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,611},{250,300}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{250,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,915},{250,300}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{250,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,307},{248,300}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,611},{248,300}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,915},{248,300}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1219},{248,300}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1523},{248,300}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_jzlg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,3},{248,300}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{248,300}}</string>
                <key>sourceSize</key>
                <string>{266,320}</string>
            </dict>
            <key>hmzl_lutb_fs_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,1822},{210,171}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{210,171}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,241},{208,171}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{208,171}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,241},{206,173}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{206,173}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,1827},{212,171}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{212,171}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1269,241},{204,173}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{204,173}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1013},{210,175}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{210,175}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,999},{208,173}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{208,173}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,955},{208,173}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,4},{208,173}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,164},{196,167}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,10},{196,167}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,1013},{194,167}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,10},{194,167}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1827},{218,167}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{218,167}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1827},{216,167}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{216,167}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1827},{214,165}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{214,165}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,955},{212,169}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{212,169}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_fs_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1825},{212,171}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{212,171}}</string>
                <key>sourceSize</key>
                <string>{224,177}</string>
            </dict>
            <key>hmzl_lutb_jzgy.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1652},{86,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,71}}</string>
                <key>sourceSize</key>
                <string>{86,71}</string>
            </dict>
            <key>hmzl_lutb_jzlg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,364},{93,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,364},{93,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,255},{93,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1728},{93,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1728},{93,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,352},{93,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,255},{93,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,352},{93,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,25},{93,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,255},{91,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{91,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,1727},{91,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{91,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,1720},{91,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{91,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,3},{91,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{91,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,98},{91,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{91,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1927,193},{91,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{91,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_lutb_jzlg_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,288},{91,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{91,113}}</string>
                <key>sourceSize</key>
                <string>{137,153}</string>
            </dict>
            <key>hmzl_uiqh_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1652},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hmzl_uiqh_js_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,3},{157,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,42},{157,146}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1827},{225,214}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{225,214}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1356},{229,232}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{229,232}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,3},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,238},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,3},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,717},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,449},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1176},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1414},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1171},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,687},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,449},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1457,3},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,3},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1409},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,416},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,651},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1647},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1167},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,925},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1405},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,886},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
            <key>hmzl_uiqh_js_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,1121},{231,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,234}}</string>
                <key>sourceSize</key>
                <string>{231,234}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>boe_hmzl_vfx.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa48e542a31262bf12d6e25ffb357271:153eabc9547f840ecbfddeb5c001a8ee:b20f721416c9b61bb33a85892966bab9$</string>
            <key>textureFileName</key>
            <string>boe_hmzl_vfx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
