<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sljc_cg.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,494},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>sljc_gd.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,501},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,232}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>sljc_lz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,985},{114,129}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,61},{114,129}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,879},{128,169}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,27},{128,169}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,737},{138,183}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,16},{138,183}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,730},{146,197}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,5},{146,197}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,713},{176,207}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{176,207}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,727},{196,199}}</string>
                <key>offset</key>
                <string>{7,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,14},{196,199}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,499},{210,211}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{210,211}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,499},{224,225}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,3},{224,225}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,263},{234,235}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{234,235}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,255},{240,241}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{240,241}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,249},{246,247}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{246,247}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,3},{248,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,249}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,3},{248,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,249}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,3},{242,249}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,249}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_lz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,255},{246,235}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{246,235}}</string>
                <key>sourceSize</key>
                <string>{248,249}</string>
            </dict>
            <key>sljc_qg.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>sljc_sm_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,880},{158,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{158,35}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,923},{158,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,35}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1011},{158,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,37}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1052},{158,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,37}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,893},{158,39}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,39}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,880},{158,39}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,39}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,661},{158,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,41}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,661},{158,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,41}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,737},{158,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,41}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,823},{158,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,41}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,823},{158,41}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{158,41}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,499},{158,43}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{158,43}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,499},{158,43}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{158,43}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,893},{158,41}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{158,41}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,899},{158,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{158,39}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
            <key>sljc_sm_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,880},{158,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{158,37}}</string>
                <key>sourceSize</key>
                <string>{164,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>sljc_fx.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f83858c2778c7ce2f5af5411c537b44:0c8033862a82e1dccdc74ff2155f966d:4ba958f7bf4b2e7ea6a3f420ec43f30a$</string>
            <key>textureFileName</key>
            <string>sljc_fx.pvr.ccz</string>
        </dict>
    </dict>
</plist>
